{% extends 'layouts/__base.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
    <link rel='stylesheet'
          href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
    <link rel='stylesheet'
          href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/addresses_profile.css' %}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
{% block navbar %}
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">
                        info@company.com
                    </a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">
                        010-020-0340
                    </a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->

{% endblock %}
{% block body_content %}
    {% include 'inc/messages.html' %}
    <!-- partial:index.partial.html -->
    <div class="layout has-sidebar fixed-sidebar fixed-header">
        {% include 'inc/_sidebar_profile.html' %}
        <div class="layout">
            <header class="header" style="position:absolute;width: 100vw;">
                <a id="btn-collapse" href="#">
                    <i class="ri-menu-line ri-xl"></i>
                </a>
                <a id="btn-toggle" href="#" class="sidebar-toggler break-point-lg">
                    <i class="ri-menu-line ri-xl"></i>
                </a>
            </header>

            <main class="content">
                <div>
                    <h1>{% trans 'Add new address' %}</h1>
                    <br>
                    <div class="row">
                        <form action="" method="post" class="form-group col-lg-6 col-sm-12" novalidate>
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    {#                                <label for="exampleInputEmail1">Email address</label>#}
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small id="emailHelp" class="form-text text-muted">
                                            {{ field.help_text | safe }}
                                        </small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <br>
                            <input type="submit" value="Save" class="btn btn-primary">
                        </form>
                        <div class="accordion accordion-flush mt-4 col-lg-6 col-sm-12" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        <span class="label2">{% trans 'Your addresses' %}</span>
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        {% for address in addresses|slice:":1" %}
                                            <pre>
{% for address in addresses %}
<span class="label2">{% trans 'Number' %} {{ address.id }}</span>
{% trans 'State' %}: {{ address.state }}
{% trans 'City' %}: {{ address.city }}
{% trans 'Zip code' %}: {{ address.zip_code }}
{% trans 'Extra detail' %}: {{ address.extra_detail }}
<a href="{% url 'customers:delete_address' address.id %}">{% trans 'Delete address' %}</a>
{% endfor %}
</pre>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
            <div class="overlay"></div>
        </div>
    </div>
    <!-- partial -->
{% endblock %}
{% block footer %}

{% endblock %}
{% block before_body_ends %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src='https://unpkg.com/@popperjs/core@2'></script>
    <script  src="{% static 'js/profile.js' %}"></script>
{% endblock %}
