{% extends 'layouts/__base.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
    <link rel='stylesheet'
          href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
    <link rel='stylesheet'
          href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <style>
        .label2{
            color: #453d9b;
            font-weight: bold;
            font-size: 1.2rem;
        }
        [name|="phone"]{
            pointer-events: none;
            cursor: default;
            opacity: 0.6;
        }
    </style>
{% endblock %}
{% block navbar %}
    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">
                        info@company.com
                    </a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">
                        010-020-0340
                    </a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->

{% endblock %}
{% block body_content %}

    <!-- partial:index.partial.html -->
    <div class="layout has-sidebar fixed-sidebar fixed-header">
        <aside id="sidebar" class="sidebar break-point-lg has-bg-image">
            <div class="image-wrapper">
                <img src="https://user-images.githubusercontent.com/25878302/144499035-2911184c-76d3-4611-86e7-bc4e8ff84ff5.jpg" alt="sidebar background" />
            </div>
            <div class="sidebar-layout">
                <div class="sidebar-header">
        <span style="
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 3px;
                font-weight: bold;
              ">

                <img src="{% if customer.gender == 0 %}{% static 'img/profile.png' %}{% else %}{% static 'img/woman.png' %}{% endif %}"
                     alt="" style="width: 40px">

           {{ request.user.phone }}
        </span>
                </div>
                <div class="sidebar-content">
                    <nav class="menu open-current-submenu">
                        <ul>

                            <li class="menu-item">
                                <a href="{% url 'customers:profile' %}">
                                    <span class="menu-icon">
                                      <i class="ri-user-line"></i>
                                    </span>
                                    <span class="menu-title">Profile</span>
                                </a>
                            </li>
                            <li class="menu-item sub-menu">
                                <a href="#">
                <span class="menu-icon">
                  <i class="ri-shopping-cart-fill"></i>
                </span>
                                    <span class="menu-title">E-commerce</span>
                                </a>
                                <div class="sub-menu-list">
                                    <ul>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Orders now</span>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Previous orders</span>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-title">Wishlist</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item sub-menu">
                                <a href="#">
                <span class="menu-icon">
                  <i class="ri-map-pin-line"></i>
                </span>
                                    <span class="menu-title">Address</span>
                                </a>
                                <div class="sub-menu-list">
                                    <ul>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-icon">

                                                    <i class="ri-map-pin-user-line"></i>
                                    </span>
                                                <span class="menu-title">Your addresses</span>
                                            </a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">
                                                <span class="menu-icon">

                                                    <i class="ri-add-line"></i>
                                    </span>

                                                <span class="menu-title">Add address</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'products:home' %}">
                <span class="menu-icon">
                  <i class="ri-arrow-left-line"></i>
                </span>
                                    <span class="menu-title">Exit</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="sidebar-footer"><span>Customer panel</span></div>
            </div>
        </aside>
        <div id="overlay" class="overlay"></div>
        <div class="layout">
            <header class="header" style="position:absolute;width: 100vw;">
                <a id="btn-collapse" href="#">
                    <i class="ri-menu-line ri-xl"></i>
                </a>
                <a id="btn-toggle" href="#" class="sidebar-toggler break-point-lg">
                    <i class="ri-menu-line ri-xl"></i>
                </a>
            </header>

            <main class="content">
                <div>
                    <h1>Profile</h1>
                    {#                    <p>#}
                    {#                        Welcome to your profile dear {{ request.user.phone }}#}
                    {#                    </p>#}
                    <br>
                    <div class="row">
                        <form action="" method="post" class="form-group col-lg-6 col-sm-12" novalidate>
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    {#                                <label for="exampleInputEmail1">Email address</label>#}
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small id="emailHelp" class="form-text text-muted">
                                            {{ field.help_text | safe }}
                                        </small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <br>
                            <input type="submit" value="Save" class="btn btn-primary">
                        </form>
                        <div class="accordion accordion-flush mt-4 col-lg-6 col-sm-12" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        {% for cart in carts|slice:":1" %}
                                            {{ cart.id }} -> <pre>  </pre><span class="label2">Final price: </span><pre> </pre>
                                            {{ cart.final_price }}<pre>  </pre>
                                            <span class="label2">Your profit: </span><pre> </pre>
                                            {{ cart.profit }}
                                        {% endfor %}
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        {% for cart in carts|slice:":1" %}
<pre>
<span class="label2">Products</span>
{% for item in cart.items.all %}
{{ item.product.name | title }}  | Final price: {{ item.product.final_price }} |  Count: {{ item.count }} | Total: {{ item.price }}
{% endfor %}
<span class="label2">Cart details</span>

Off code : {{ cart.off_code }}

Your profit : {{ cart.profit }}

Final price : {{ cart.final_price }}

<span>Address : {{ cart.address | truncatewords:9 }}</span>
</pre>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        {% for cart in carts|slice:"1:2" %}
                                            {{ cart.id }} -> <pre>  </pre><span class="label2">Final price: </span><pre> </pre>
                                            {{ cart.final_price }}<pre>  </pre>
                                            <span class="label2">Your profit: </span><pre> </pre>
                                            {{ cart.profit }}
                                        {% endfor %}
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
{% for cart in carts|slice:"1:2" %}
<pre>
<span class="label2">Products</span>
{% for item in cart.items.all %}
{{ item.product.name | title }}  | Final price: {{ item.product.final_price }} |  Count: {{ item.count }} | Total: {{ item.price }}
{% endfor %}
<span class="label2">Cart details</span>

Off code : {{ cart.off_code }}

Your profit : {{ cart.profit }}

Final price : {{ cart.final_price }}

<span>Address : {{ cart.address | truncatewords:9 }}</span>
</pre>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                        {% for cart in carts|slice:"2:3" %}
                                            {{ cart.id }} -> <pre>  </pre><span class="label2">Final price: </span><pre> </pre>
                                            {{ cart.final_price }}<pre>  </pre>
                                            <span class="label2">Your profit: </span><pre> </pre>
                                            {{ cart.profit }}
                                        {% endfor %}
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
{% for cart in carts|slice:"2:3" %}
<pre>
<span class="label2">Products</span>
{% for item in cart.items.all %}
{{ item.product.name | title }}  | Final price: {{ item.product.final_price }} |  Count: {{ item.count }} | Total: {{ item.price }}
{% endfor %}
<span class="label2">Cart details</span>

Off code : {{ cart.off_code }}

Your profit : {{ cart.profit }}

Final price : {{ cart.final_price }}

<span>Address : {{ cart.address | truncatewords:9 }}</span>
</pre>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
            <div class="overlay"></div>
        </div>
    </div>
    <!-- partial -->
{% endblock %}
{% block before_body_ends %}
    <script src='https://unpkg.com/@popperjs/core@2'></script>
    <script  src="{% static 'js/profile.js' %}"></script>
{% endblock %}
