{% extends 'layouts/__base.html' %}
{% load static %}
{% load extra_tags %}
{% block extra_head %}

      <style>
        img{
            width: 302px !important;
            height: 340px !important;
        }
        .brand-img{
            width: 110px !important;
            height: 73px !important;
        }
        .card-body{
            height: 213px;
        }
        .card img{
            min-width: 100%;
            object-fit: contain;
        }
    </style>
{% endblock %}

{% block body_content %}
    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Brand
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            {% for brand in brands %}
                                <li><a class="text-decoration-none" href="#">{{ brand.name }}</a></li>
                            {% endfor %}


                            {#                            <li><a class="text-decoration-none" href="#">Women</a></li>#}
                        </ul>
                    </li>
                    {#                    <li class="pb-3">#}
                    {#                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">#}
                    {#                            Sale#}
                    {#                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>#}
                    {#                        </a>#}
                    {#                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">#}
                    {#                            <li><a class="text-decoration-none" href="#">Sport</a></li>#}
                    {#                            <li><a class="text-decoration-none" href="#">Luxury</a></li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                    {#                    <li class="pb-3">#}
                    {#                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">#}
                    {#                            Product#}
                    {#                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>#}
                    {#                        </a>#}
                    {#                        <ul id="collapseThree" class="collapse list-unstyled pl-3">#}
                    {#                            <li><a class="text-decoration-none" href="#">Bag</a></li>#}
                    {#                            <li><a class="text-decoration-none" href="#">Sweather</a></li>#}
                    {#                            <li><a class="text-decoration-none" href="#">Sunglass</a></li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                            </li>
                            {#                            <li class="list-inline-item">#}
                            {#                                <a class="h3 text-dark text-decoration-none mr-3" href="#">Men's</a>#}
                            {#                            </li>#}
                            {#                            <li class="list-inline-item">#}
                            {#                                <a class="h3 text-dark text-decoration-none" href="#">Women's</a>#}
                            {#                            </li>#}
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>A to Z</option>
                                <option>Item</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <img class="card-img rounded-0 img-fluid" src="{{ product.image.url }}">
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                        <ul class="list-unstyled">
                                            {#                                            <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>#}
                                            <li><a class="btn btn-success text-white mt-2" href="{% url 'products:product_detail' product.id %}"><i class="far fa-eye"></i></a></li>
                                            <li><a class="btn btn-success text-white mt-2 add-to-cart"
                                                   data-price="{{ product.final_price }}"
                                                   data-name="{{ product.name | replacer:'-' }}"
                                                   href="#"><i class="fas fa-cart-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="shop-single.html"
                                       class="h3 text-decoration-none d-flex justify-content-center">
                                        {{ product.name }}
                                    </a>
                                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                        {#                                        <li>M/L/X/XL</li>#}
                                        <li class="pt-2">
                                            <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                        </li>
                                    </ul>
{#                                    <p>{{ product.description | truncatewords:5 }}</p>#}
                                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                                        <li>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-muted fa fa-star"></i>
                                            <i class="text-muted fa fa-star"></i>
                                        </li>
                                    </ul>
                                    {% if product.price != product.final_price %}
                                        <del class="h3 py-2 text-center d-flex justify-content-center"
                                             style="color: red">{{product.price }} Tomans</del>
                                        {% if product.discount.type == 1 %}
                                            <span class="badge badge-danger d-flex justify-content-center">
                                                {{product.discount.value}}%</span>
                                        {% else %}
                                            <span class="badge badge-danger d-flex justify-content-center">{{product.discount.value}} Tomans</span>
                                        {% endif %}
                                        <p class="h3 py-2 d-flex justify-content-center" style="color: black">{{product.final_price}} Tomans</p>
                                    {% else %}
                                        <p class="h3 py-2 d-flex justify-content-center">{{product.final_price}} Tomans</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
                {% if is_paginated %}
                    <div div="row">
                        <ul class="pagination pagination-lg justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                                       href="?page={{ page_obj.previous_page_number }}">
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">
                                        <i class="fa-solid fa-angle-left"></i>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item">
                                <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">
                                    {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </a>
                            </li>
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark "
                                       href="?page={{ page_obj.next_page_number }}" tabindex="-1">
                                        <i class="fa-solid fa-angle-right"></i>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark " href="#" tabindex="-1">
                                        <i class="fa-solid fa-angle-right"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example"
                                 data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">
                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            {% for brand in brands %}

                                                <div class="col-3 p-md-5">
                                                    <a href="#">
                                                        <img class="img-fluid brand-img"
                                                             src="{{ brand.image.url }}" alt="{{ brand.name }}">
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    {#                                    <div class="carousel-item">#}
                                    {#                                        <div class="row">#}
                                    {#                                            <div class="col-3 p-md-5">#}
                                    {#                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>#}
                                    {#                                            </div>#}
                                    {#                                            <div class="col-3 p-md-5">#}
                                    {#                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>#}
                                    {#                                            </div>#}
                                    {#                                            <div class="col-3 p-md-5">#}
                                    {#                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>#}
                                    {#                                            </div>#}
                                    {#                                            <div class="col-3 p-md-5">#}
                                    {#                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    {#                                    <div class="carousel-item">#}
                                    {#                                        <div class="row">#}
                                    {#                                            <div class="col-3 p-md-5">#}
                                    {#                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>#}
                                    {#                                            </div>#}
                                    {#                                            <div class="col-3 p-md-5">#}
                                    {#                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>#}
                                    {#                                            </div>#}
                                    {#                                            <div class="col-3 p-md-5">#}
                                    {#                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>#}
                                    {#                                            </div>#}
                                    {#                                            <div class="col-3 p-md-5">#}
                                    {#                                                <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->

{% endblock %}
{% block before_body_ends %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="{% static 'js/basket.js' %}"></script>
    <!-- Start Script -->
    <script src="{% static 'js/jquery-1.11.0.min.js'%}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/templatemo.js' %}"></script>
    <script src="{% static 'js/custom.js' %}%}"></script>
    <!-- End Script -->

    <!-- Start Slider Script -->
    <script src="{% static 'js/slick.min.js' %}"></script>

{% endblock %}