{% load i18n %}
<section>
    <button class="btn2">{% trans 'Subscribe' %}</button>
</section>
<!--FOOTER-->
<footer>
    <div class="footer">
        <section>
            <h3>{% trans 'ShopiHi Store' %}</h3>
            <p>{% trans 'Best site for ever' %}</p>
        </section>
        <section>
            <h3>{% trans 'LINKS' %}</h3>
            <a href="#">{% trans 'Home' %}</a>
            <a href="#">{% trans 'About Us' %}</a>
            <a href="#">{% trans 'Blog' %}</a>
            <a href="#">{% trans 'Contt Us' %}</a>
        </section>
        <section>
            <h3>{% trans 'OTHER' %}</h3>
            <a href="#">{% trans 'Privacy Policy' %}</a>
            <a href="#">{% trans 'Terms & Conditions' %}</a>
            <a href="#">{% trans 'Cookie Policy' %}</a>
        </section>
        <section>
            <h3>{% trans 'ANY QUESTIONS?' %}</h3>
            <a href="emailto:Shayansadeghi178@gmail.com"><span><i class="fa fa-envelope"></i>
            </span><span>shayansadeghi178@gmail.com</span></a>
            <a href="tel:989216791779"><span><i class="fa fa-phone"></i></span><span>(+98)-921-679-1779</span></a>
        </section>
    </div>
</footer>
<div class="sub-footer">
    {% trans 'Copyright ©2021 All rights reserved | ShopiHi' %}
</div>
