{% if request.session.loaded_items %}
    <script>
        {#console.log(cart)#}
        function rep(item){
            return {"name":item.name.replace(/ /g,'-'),"price":item.price,"count":item.count}
        }
        loadedCartItems = '{{ request.session.loaded_items }}'.replace(/&#x27;/g,'"')
        console.log(loadedCartItems)
        parseloadedCartItems = JSON.parse(loadedCartItems)
        items = JSON.stringify(parseloadedCartItems.map(rep))
        sessionStorage.setItem('shoppingCart', items);
    </script>
{% endif %}