{% if messages %}
    {% for msg in messages %}
        {% if msg.tags == "success_register success" %}
            <script>
                Swal.fire({
                    icon: 'success',
                    title: '{{ msg }}',
                    text: 'Click the button',
                })
            </script>
        {% elif msg.tags == 'success_login success' %}
            <script>
                Swal.fire({
                    icon: 'success',
                    title: '{{ msg }}',
                    text: 'Click the button',
                })
            </script>
        {% elif msg.tags == 'unsuccess_login error' %}
            <script>
                Swal.fire({
                    icon: 'error',
                    title: '{{ msg }}',
                    text: 'Click the button',
                })
            </script>
        {% elif msg.tags == 'unsuccess_register error' %}
            <script>
                Swal.fire({
                    icon: 'error',
                    title: '{{ msg }}',
                    text: 'Click the button',
                })
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
